URxvt.font:			xft:Ricty:size=32:antialias=true

URxvt.letterSpace:	4

URxvt.cursorColor:	#888877
URxvt.cursorBlink:	1

URxvt.background:	#111122
URxvt.foreground:	#BBBBCC

URxvt.color0:		black
URxvt.color1:		red3
URxvt.color2:		green3
URxvt.color3:		yellow3
URxvt.color4:		blue3
URxvt.color5:		magenta3
URxvt.color6:		cyan3
URxvt.color7:		gray90
URxvt.color8:		gray40
URxvt.color9:		red
URxvt.color10:		green
URxvt.color11:		yellow
URxvt.color12:		blue
URxvt.color13:		magenta
URxvt.color14:		cyan
URxvt.color15:		white


xmessage*international: True
